@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 90px;
  height: 55px;
  position: relative;
  animation: rotation 1s linear infinite;
  border-radius: 100em;
}

.path {
  stroke-dasharray: 100;
  stroke-dashoffset: 20;
  stroke-linecap: round;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

/* Custom Scrollbar for desktop screens */
@media (min-width: 768px) {
  /* Webkit browsers (Chrome, Safari) */
  ::-webkit-scrollbar {
    width: 10px; /* Scrollbar width */
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #6AEFFF, #2859A9); /* Custom gradient color for scrollbar thumb */
    border-radius: 10px; /* Rounded edges */
  }
  
  ::-webkit-scrollbar-track {
    background: #1E1E1E; /* Background of the scrollbar */
  }

  /* Firefox */
  scrollbar-width: thin; /* Scrollbar width */
  scrollbar-color: #6AEFFF #1E1E1E; /* Scrollbar thumb and track colors */
}
